*{
    padding:0;
    margin: 0;
    font-family: "inter", "sans-serif";   
    font-size: 32px;
    font-weight: 400;
    line-height: 150%;    
    background-color:#F3F5FC;
}
/*body{
    width: 100vh;
    height: 100vh;
    display:flex;
    flex-direction: column;
    justify-content:center;
    background-color: #F4F4FC;    
}*/
header{
    width: 100%;    
    position: relative;
    display: flex;
}
.logo{
    width: 10%;
    height: 50px;
    padding-left: 20px;
    padding-top: 5px;
    margin-left: 10px;
}
main{
    margin-bottom: 50px;
    margin-left: 80px;   
    width: 100%;
    height:100%;    
    position:relative;
    display: flex;
    /*justify-content: space-between;*/
}
.seccion1{
    width: 50%;
}
.textArea{
    border: none;
    color: #0A3871;
    margin-top: 98px;
    text-transform: lowercase;
}
::placeholder{
    color: #0A3871;}
    .textArea :focus{ outline: none;}

    .seccion2{
        width: 20%;
        display: flex;
        flex-direction: column; 
        position: relative;
        border-radius: 32px;
        background: #ffffff;     
    }
    .mensajes{
        top: 70%;
        display: flex;
        flex-direction: column;
    }
.textAreaEncriptado{
    background: white;
    background-image: url("./img/Muñeco.png");
    background-repeat: no-repeat;
    border-radius: 24px;
    border:none;
    margin-top: 20px;
    margin-left: 98px;
    padding-left: 20px;
    position: relative;   
}
.textAreaEncriptado :focus{
outline: none;
}
.botones{
    display: flex;
    margin-top: 18px;
}
.btn_Encriptar{
    background-color: #0a3871;
    border-radius: 24px;
    border: 1px solid #0A3871; 
    color: #ffffff;
    height: 67px;
    width: 328px;
    cursor: pointer;
}
.btn_Desencriptar{
    background-color: #d8dfe8;
    border-radius: 24px;
    border: 1px solid #0A3871; 
    color: #0A3871;
    height: 67px;
    width: 328px;
    margin-left: 30px;
    cursor: pointer;

}
.contenedor-btnCopiar{
    display: flex;
    margin-top: 18px;
}
.btn_Copiar{
    border: 1px solid #0a3871;
    border-radius: 24px;
    color: #0a3871;
    cursor: pointer;
    height: 67px;
    margin-left: 108px;
    margin-top: 402px;
    width: 336px;
    position: absolute;
}


.condiciones{
    color: #495057;
    font-size: 18px;
}