*{
    padding: 0;
    margin: 0;
    font-family: "inter", "sans-serif";
}

body{
    width: 100vh;
    height: 100vh;
    display:flex;
    flex-direction: column;
    justify-content:center;
    background-color: #F4F4FC;
    
}
header{
    width: 100%;
    height:  64px;
    position: relative;
    display: flex;
}
.logo{
    width: 45px;
    height: 50px;
    padding-left: 20px;
    padding-top: 20px;
}
main{
    background-color:#F3F5FC;
    width: 100%;
    height:100%;    
    position:relative;
    display: flex;
    justify-content: space-between;
}
.textArea1{
    position: absolute;
    width: 42%;
    height: 60%;
    left: 12%;
    top:15%;
    border:none;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-size: 32px;
    font-weight: 400;
    line-height: 150%;
    background-color: #F4F4FC;
    cursor: pointer;
}
.textArea1::placeholder{
    color:#0a3871;
}
.textArea1:focus,
.textArea1:active {
    outline: none;
    border: none;
}
.alerta{
    position: absolute;
    width: 80%;
    top: 80%;
    left: 12%;
    display:flex;
    flex-direction: row;
    padding: 0px;
    gap: 8px;
    align-items: center;

}
.alerta p{
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-size: 12px;
    font-weight: 400;
    line-height: 150%;
    color: #495057;
    opacity: 0.8;
    flex: none;
    flex-grow: 0;
    order: 1;
}
.botones{
    width: 80%;
    left: 12%;
    top: 82%;
    padding: 1% 0;
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}
.btn_Encriptar{
    width: 25%;
    padding: 2%;
    align-items: center;
    justify-content: center;
    gap: 8px;
    background-color: #0a3871;
    border-radius: 24px;
    font-family: "Inter";
    font-style: normal;
    font-size: 18px;
    line-height: 19px;
    text-align: center;
    color: #ffffff;
}
.btn_Desencriptar{
    width: 25%;
    padding: 2%;
    gap: 8px;
    background-color: #d8dfe8;
    box-sizing: border-box;
    border: 1px solid;
    border-radius: 24px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    font-family: "Inter";
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    line-height: 19px;
    text-align: center;
    color: #0a3871;
}
.btn_Encriptar:hover,
.btn_Desencriptar:hover{
    margin: 0.3%;
    width: 24.5%;
    padding: 1.8%;
}
.textoDesencriptado{
position: absolute;
width: 30%;
height: 90%;
left: 60%;
top: 5%;
display: flex;
justify-content: center;
border-radius: 32px;
background-color: rgba(0,0,0,0.08);


}